html, body {
        margin: 0;
        padding: 0;
}

/**************************************************
 * Images
 **************************************************/

.button-icon {
  height: 16px;
  width: 16px;
}

/**************************************************
 * Header/Navbar
 **************************************************/

.header {
  background: #fca311;
  padding: 10px;
}

.header-label {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  vertical-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: space-between;
  justify-content: flex-start;
}

.nav-bar-item {
  padding-right: 5px;
  border: none;
  background: none;
}

/**************************************************
 * Main
 **************************************************/

.main {
  display: flex; 
  flex-direction: horizontal;
  margin-top: 5%;
}

/**************************************************
 * Lookup Par Page
 **************************************************/

.lookup {
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: horizontal;
}

.lookup-input {
  width: 50%;
}

.lookup-output {
  width: 50%;
}

.output-box {
  border: 2px solid black;
  border-radius: 10px;
}

.par-output-label {
  margin-left: 5%;
}

.par-result {
  width: 100%;
  align: center;
  font-size: 15em;
  text-align: center;
}
/**************************************************
 * Play Course Page
 **************************************************/

.play-course {
  margin-left: 5%;
  width: 90%;
}
