html, body {
        margin: 0;
        padding: 0;
}

/**************************************************
 * Padding Settings
 **************************************************/
.padding-0 {
        padding: 0px;
}
.padding-left-10 {
        padding-left: 10px;
}
.padding-right-10 {
        padding-right: 10px;
}
.padding-top-10 {
        padding-top: 10px;
}
.padding-bottom-10 {
        padding-bottom: 10px;
}
.padding-10 {
        padding: 10px;
}

/**************************************************
 * Background Settings
 **************************************************/
.bg-orange {
        background: #fca311;
}
/**************************************************
 * Size/Position Settings
 **************************************************/
.full-width {
  width: 100%;
}
.width-90p {
  width: 90%;
}
.width-50p {
  width: 50%;
}
.min-height-100px {
  min-height: 100px;
}
.margin-left-5p {
  margin-left: 5%;
}
.margin-top-5p {
  margin-top: 5%;
}
.margin-bottom-5p {
  margin-bottom: 5%;
}

/**************************************************
 * Display Settings
 **************************************************/
.inline {
        display: inline;
}
.centered {
  text-align: center;
}
.font-size-15em {
  font-size: 15em;
}
.flex-h {
        display: flex;
        flex-direction: horizontal;
        justify-content: space-between;
}

.flex-v {
        display: flex;
        flex-direction: vertical;
}

.align-v {
        align-items: center;
}


/**************************************************
 * Border Settings
 **************************************************/
.border-solid-black {
  border: 1px solid black;
}
.border-radius-10px {
  border-radius: 10px;
}
/**************************************************
 * Buttons Settings
 **************************************************/
.button-img {
        width: 16px;
        height: 16px;
}
